<!doctype html>
<html>
<head>
  <title>Tic Tac Toe</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css"></link>
</head>
<body ng-app="ticTacToe" ng-cloak>
  <div class="game" ng-controller="BoardCtrl as boardCtrl">
    <div>
      <div class="row" ng-repeat="row in boardCtrl.board.cells">
        <div class="cell" ng-repeat="cell in row" ng-click="boardCtrl.players[boardCtrl.token].doTurn(cell)">
          {{cell.token}}
        </div>
      </div>
    </div>

    <div class="status-backpane" ng-show="boardCtrl.isPopoverVisible()">
      <div class="status" ng-show="boardCtrl.boardStatus.get()">
        {{boardCtrl.boardStatus.get()}}
      </div>

      <div class="choose-player">
        <button class="player-button" ng-click="boardCtrl.choosePlayer(boardCtrl.Players.X)">
          <span class="choose-text">play as</span>X
        </button>
        <button class="player-button" ng-click="boardCtrl.choosePlayer(boardCtrl.Players.O)">
          <span class="choose-text">play as</span>O
        </button>
      </div>
    </div>
  </div>

  <script src="app.js"></script>
</body>
</html>
